<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head-fragment :: head">
<body class="nav-md">
	<div class="container body">
		<div class="main_container">
			<div class="col-md-3 left_col">
				<div class="left_col scroll-view">
					<div class="navbar nav_title" style="border: 0;">
						<a href="index.html" class="site_title"><i
							class="fa fa-futbol-o"></i> <span>Nessfit</span></a>
					</div>

					<div class="clearfix"></div>

					<!-- menu profile quick info -->
					<div th:insert="fragments/perfil-fragment :: perfil"></div>
					<!-- /menu profile quick info -->

					<br />

					<!-- sidebar menu -->
					<div th:insert="fragments/sidebar-fragment :: sidebar"></div>
					<!-- /sidebar menu -->


				</div>
			</div>

			<!-- top navigation -->
			<div th:replace="fragments/topbar-fragment :: topbar"></div>
			<!-- /top navigation -->

			<!-- page content -->
			<div class="right_col" role="main">
				<div class="">
					<div class="page-title">
						<div class="title_left">

							<h3>Gestión de Instalaciones</h3>


						</div>


					</div>

				</div>

				<div class="clearfix"></div>

				<div class="row" style="display: block;">
					<div class="col-md-12 col-sm-12  ">
						<div class="x_panel">
							<div class="x_title d-flex justify-content-start">
								<a th:href="@{/administrativo/gestion-instalacion/crear}"
									class="btn btn-success text-white">Crear Instalación</a>
								<form th:action="@{/administrativo/gestion-instalacion}">
									<input class="form-control" name="nombre"
										placeholder="Buscar por nombre">

								</form>

								<div class="clearfix"></div>
							</div>
							<div class="x_content">

								<table class="table">
									<thead>
										<tr>
											<th>Nombre</th>
											<th>Dirección</th>
											<th>Tipo</th>
											<th>Costo/día</th>
											<th>Estado</th>
											<th>Acciones</th>
										</tr>
									</thead>
									<tbody>
										<tr th:if="${instalaciones.isEmpty()}">
											<th colspan="5" class="text-center">Sin registro</th>
										</tr>
										<tr th:unless="${instalaciones.isEmpty()}"
											th:each="instalacion : ${instalaciones}">
											<th th:text="${instalacion.nombre}" scope="row">1</th>
											<td th:text="${instalacion.direccion}">Mark</td>
											<td th:text="${instalacion.tipo}">Otto</td>
											<td th:text="${instalacion.precio}">Otto</td>
											<td th:if="${instalacion.estado == 1}" class="text-success">Operativa</td>
											<td th:unless="${instalacion.estado == 1}"
												class="text-danger">Inoperativa</td>
											<td><a class="btn btn-warning btn-sm py-0"><small>Editar</small></a></td>
										</tr>
									</tbody>
								</table>
								<nav th:if="${instalaciones.totalPages > 0}"
									aria-label="Page navigation example">
									<ul class="pagination justify-content-center">
										<li class="page-item"
											th:classappend="${instalaciones.number == 0 ? 'disabled' : ''}">
											<a
											th:href="@{/administrativo/gestion-instalacion(page=${instalaciones.number - 1})}"
											class="page-link">Anterior</a>
										</li>

										<li class="page-item"
											th:classappend="${i eq instalaciones.number + 1} ? 'active'"
											th:each="i : ${#numbers.sequence( 1, instalaciones.totalPages, 1)}">
											<a class="page-link"
											th:href="@{/administrativo/gestion-instalacion?page={tmpPag} (tmpPag=${i-1}) }"
											th:text="${i}" th:title="${'Page '+ i}" data-toggle="tooltip"></a>
										</li>
										<li class="page-item"
											th:classappend="${instalaciones.number == (instalaciones.totalPages - 1) ? 'disabled' : ''}">
											<a
											th:href="@{/administrativo/gestion-instalacion(page=${instalaciones.number + 1})}"
											class="page-link">Siguiente</a>
										</li>
									</ul>
								</nav>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /page content -->

		<!-- footer content -->
		<footer>
			<div class="clearfix"></div>
		</footer>
		<!-- /footer content -->
	</div>
	</div>

	<!-- jQuery -->
	<script th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>
	<!-- Bootstrap -->
	<script th:src="@{/vendors/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
	<!-- FastClick -->
	<script th:src="@{/vendors/fastclick/lib/fastclick.js}"></script>
	<!-- NProgress -->
	<script th:src="@{/vendors/nprogress/nprogress.js}"></script>
	<!-- iCheck -->
	<script th:src="@{/vendors/iCheck/icheck.min.js}"></script>

	<!-- Custom Theme Scripts -->
	<script th:src="@{/build/js/custom.min.js}"></script>

	<script type="text/javascript">
		function ventana(nombre, estado) {
			if (estado == 1) {
				return confirm("¿Desea deshabilitar a " + nombre
						+ " del sistema?");
			} else {
				return confirm("¿Desea habilitar a " + nombre + " del sistema?");
			}

		}
	</script>
</body>
</html>
