<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head th:insert="fragments/head-fragment :: head">
  </head>

  <body class="login">
    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div class="form login_form">
          <section class="login_content">
            <form th:action="@{/iniciarsesion}" method="post">
              <h1>Inicio de sesión</h1>
              <div>
              	<label class="form-label">Rut:</label>
                <input name="rut" type="text" class="form-control" placeholder="123456789k" required />
              </div>
              <div>
              	<label class="form-label">Contraseña: </label>
                <input name="contrasena" type="password" class="form-control" placeholder="********" required />
              </div>
              <div>
                <input style="float: none;" class="btn btn-primary btn-lg" type="submit" th:value="${'Entrar'}"></input>
              </div>
              

              <div class="clearfix"></div>
              <div th:if="${param.novalido != null}" class='alert alert-danger' th:text="${'Usuario o contraseña incorrecta'}" role='alert'></div>
				<div th:if="${param.noautorizado != null}" class='alert alert-danger' th:text="${'Usuario desactivado'}" role='alert'></div>
              <div class="separator">

                <div class="clearfix"></div>
                <br />

                <div>
                  <h1><i class="fa fa-futbol-o"></i> NessFit</h1>
                  <p>©2022 All Rights Reserved.</p>
                </div>
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>
  </body>
</html>
