<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head-fragment :: head">
<body class="nav-md">
	<div class="container body">
		<div class="main_container">
			<div class="col-md-3 left_col">
				<div class="left_col scroll-view">
					<div class="navbar nav_title" style="border: 0;">
						<a href="index.html" class="site_title"><i
							class="fa fa-futbol-o"></i> <span>Nessfit</span></a>
					</div>

					<div class="clearfix"></div>

					<!-- menu profile quick info -->
					<div th:insert="fragments/perfil-fragment :: perfil"></div>
					<!-- /menu profile quick info -->

					<br />

					<!-- sidebar menu -->
					<div th:insert="fragments/sidebar-fragment :: sidebar"></div>
					<!-- /sidebar menu -->


				</div>
			</div>

			<!-- top navigation -->
			<div th:replace="fragments/topbar-fragment :: topbar"></div>
			<!-- /top navigation -->

			<!-- page content -->
			<div class="right_col" role="main">
				<div class="">
					<div class="page-title">
						<div class="title_left">
							<h3>PERFIL DEL USUARIO</h3>
						</div>
					</div>

					<div class="clearfix"></div>


					<div class="row">
						<div class="col-md-12 col-sm-12 ">
							<div class="x_panel">
								<div class="x_content">
									<br />
									<form th:action="@{/perfil}"
										method="post" id="demo-form2" data-parsley-validate
										class="form-horizontal form-label-left" th:object="${usuario}">

										<div th:if="${#fields.hasErrors('*')}"
											class='alert alert-danger' role='alert'>
											Por favor corrija los siguientes errores:
											<ul>
												<li th:each="err : ${#fields.errors('*')}" th:text="${err}" />
											</ul>
										</div>

										<div class="item form-group">
											<label class="col-form-label col-md-3 col-sm-3 label-align"
												for="rut">Rut: <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 ">
												<input th:field="*{rut}" type="text" hidden
													class="form-control ">
												<input th:field="*{rut}" type="text" disabled="disabled"
													class="form-control ">
												<div th:if="${#fields.hasErrors('rut')}"
													th:errorclass="text-danger" th:errors="*{rut}"></div>
											</div>
										</div>

										<div class="item form-group">
											<label class="col-form-label col-md-3 col-sm-3 label-align"
												for="nombre">Nombre: <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 ">
												<input th:field="*{nombre}" type="text" required="required"
													class="form-control " th:errorclass="border-danger">
												<div th:if="${#fields.hasErrors('nombre')}"
													th:errorclass="text-danger" th:errors="*{nombre}"></div>
											</div>
										</div>

										<div class="item form-group">
											<label class="col-form-label col-md-3 col-sm-3 label-align"
												for="apellido">Apellido: <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 ">
												<input th:field="*{apellido}" type="text"
													class="form-control ">
											</div>
										</div>

										<div class="item form-group">
											<label class="col-form-label col-md-3 col-sm-3 label-align"
												for="telefono">Teléfono: <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 ">
												<input th:field="*{telefono}" type="tel"
													required="required" class="form-control" th:errorclass="border-danger">
											</div>
										</div>

										<div class="item form-group">
											<label class="col-form-label col-md-3 col-sm-3 label-align"
												for="email">Email: <span class="required">*</span>
											</label>
											<div class="col-md-6 col-sm-6 ">
												<input th:field="*{email}" type="text" required="required"
													class="form-control ">
											</div>
										</div>
										

										<div class="ln_solid"></div>
										<div class="item form-group">
											<div class="col-md-6 col-sm-6 offset-md-3">
												<button class="btn btn-primary" type="button">Cancel</button>
												<button class="btn btn-primary" type="reset">Reset</button>
												<button type="submit" class="btn btn-success">Submit</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>

		</div>
		<!-- /page content -->

		<!-- footer content -->
		<footer>
			<div class="clearfix"></div>
		</footer>
		<!-- /footer content -->
	</div>
	</div>

	<!-- jQuery -->
	<script th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>
	<!-- Bootstrap -->
	<script th:src="@{/vendors/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
	<!-- FastClick -->
	<script th:src="@{/vendors/fastclick/lib/fastclick.js}"></script>
	<!-- NProgress -->
	<script th:src="@{/vendors/nprogress/nprogress.js}"></script>
	<!-- iCheck -->
	<script th:src="@{/vendors/iCheck/icheck.min.js}"></script>

	<!-- Custom Theme Scripts -->
	<script th:src="@{/build/js/custom.min.js}"></script>


</body>
</html>
